<div class="position-relative p-0" id="home">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-4">PG Rental Services</h1>
        </a>
    </nav>

    <div class="bg-primary hero-header">
        <div class=" px-lg-5">
            <div class="row g-5">
                <div style="margin-left: 100px;" class="col-lg-6 text-center text-lg-start">
                    <h1 class="text-white mb-4 animated slideInDown">India's Largest PG Network to Book your PG Online</h1>
                    <p class="text-white pb-3 animated slideInDown">Rent you PG House or Live as a PG</p>
                    <a href="owner" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">For PG Owner</a>
                    <a href="user" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">For Seeker</a>
                </div>
                <div class="col-lg-4 d-flex  justify-content-lg-end wow fadeInUp" data-wow-delay="0.3s" >
                    <img class="img-fluid" src="../../assets/user/img/bg.png" alt="">
            </div>
            <div class="col-lg-4 d-flex  justify-content-lg-end wow fadeInUp" data-wow-delay="0.3s" >
                <img  class="img-fluid" src="../../assets/user/img/bg.png" alt="" style="visibility: hidden;">
        </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->



<!-- Features Start -->
<div class="py-5" id="feature">
    <div class="container py-5 px-lg-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">Features</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature-item bg-light rounded p-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-eye text-white fs-4"></i>
                    </div>
                    <h5 class="mb-3">Add PG House</h5>
                    <p class="m-0">Add details about your PG Home and get PG easily.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-item bg-light rounded p-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-layer-group text-white fs-4"></i>
                    </div>
                    <h5 class="mb-3">Requests</h5>
                    <p class="m-0">Owners will get requests for their PG house from seekers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-item bg-light rounded p-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-edit text-white fs-4"></i>
                    </div>
                    <h5 class="mb-3">Editable Data</h5>
                    <p class="m-0">Edit your data any time <br> <br> </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature-item bg-light rounded p-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-shield-alt text-white fs-4"></i>
                    </div>
                    <h5 class="mb-3">Fully Secured</h5>
                    <p class="m-0">All latest technologies used in this website which are full secured.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-item bg-light rounded p-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-cloud text-white fs-4"></i>
                    </div>
                    <h5 class="mb-3">Cloud Storage</h5>
                    <p class="m-0">Whole data is stored on cloud, use from any device by creating account.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-item bg-light rounded p-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-mobile-alt text-white fs-4"></i>
                    </div>
                    <h5 class="mb-3">Fully Responsive</h5>
                    <p class="m-0">Website is fully responsive, use on any screen size, big screen or small screen</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


<!-- Contact Start -->
<div class="py-5" id="contact">
    <div class="container py-5 px-lg-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary-gradient fw-medium">Contact Us</h5>
            <h1 class="mb-5">Get In Touch!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<!-- Footer Start -->
<div class="bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
   
    <div class="container px-lg-3">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; PG Rental Services Management System, All Right Reserved. 
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
